<div class="row section topspace">
    <h2 class="section-title"><span>Start Mining KIWI</span></h2>
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>One of the first mineable ERC-20 / ERC-918 tokens ever available. You can get earn your
                  own <b>KIWI</b> today by using your computer to mine. To find out more, click <em>"Start Mining"</em>.   
                </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="http://www.gettemplate.com/downloads/initio.zip " class="btn btn-primary btn-lg">Start Mining </a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
