<main id="main">

	<div class="container">

        {{ if .Site.Params.showSubheader }}
            {{ partial "subheader.html" . }}
        {{ end }}

				{{ if .Site.Params.showGetInvolved }}
            {{ partial "getinvolved.html" . }}
        {{ end }}

        {{ if .Site.Params.showKiwiInfo }}
            {{ partial "kiwiinfo.html" . }}
        {{ end }}

				{{ if .Site.Params.showRecentNews }}
            {{ partial "recentnews.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
