<div class="row section featured topspace">
  <h2 class="section-title"><span>KIWI VITALS</span></h2>

    <div class="col-lg-8">
      <table class="table">
        <tr><td>Symbol:</td><td>KIWI</td></tr>
        <tr><td>Contract Address:</td><td>0x2BF91c18Cd4AE9C2f2858ef9FE518180F7B5096D</td></tr>
        <tr><td>Etherscan:</td><td><a href="https://etherscan.io/address/0x2bf91c18cd4ae9c2f2858ef9fe518180f7b5096d" target="_blank">https://etherscan.io/address/0x2bf91c18cd4ae9c2f2858ef9fe518180f7b5096d</td></tr>
        <tr><td>Total Supply:</td><td>7 000 000 000 (7 Billion)</td></tr>
        <tr><td>Decimals:</td><td>8</td></tr>
        <tr><td>Current Block Reward:</td><td>5000 KIWI</td></tr>
        <tr><td>Target Block Mining Time:</td><td>2 mins</td></tr>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-cta">
          <div class="panel-body-small">
              <div class="col-lg-12">
                  <p class="text-center"><strong>Your Wallet Info</strong></p>
                    <dl>
                      <dt>Account:</dt><dd id="coinbaseAccount">...</dd>
                      <dt>Balance:</dt><dd id="kiwiCount">...</dd>
                    </dl>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-cta">
          <div class="panel-body-small">
              <div class="col-lg-12">
                  <p class="text-center"><strong>Current Status</strong></p>
                  <div id="blockchain-loader">
                    <p class="text-center blink">-- loading from blockchain --</p>
                  </div>
                  <div id="contract-info">
                    <dl class="">
                      <dt>Challenge:</dt><dd id="challengeNumber">...</dd>
                      <dt>KIWI Minted:</dt><dd id="kiwiMinted">...</dd>
                    </dl>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div> <!-- / section -->
