<div class="row section featured topspace">
  <h2 class="section-title"><span>KIWI VITALS</span></h2>

    <div class="col-lg-8">
      <table class="table">
        <tr><td>Symbol:</td><td>KIWI</td></tr>
        <tr><td>Contract Address:</td><td>0x2BF91c18Cd4AE9C2f2858ef9FE518180F7B5096D</td></tr>
        <tr><td>Etherscan:</td><td><a href="https://etherscan.io/address/0x2bf91c18cd4ae9c2f2858ef9fe518180f7b5096d" target="_blank">https://etherscan.io/address/0x2bf91c18cd4ae9c2f2858ef9fe518180f7b5096d</td></tr>
        <tr><td>Total Supply:</td><td>7 000 000 000 (7 Billion)</td></tr>
        <tr><td>Decimals:</td><td>8</td></tr>
        <tr><td>Current Block Reward:</td><td>5000 KIWI</td></tr>
        <tr><td>Target Block Mining Time:</td><td>2 mins</td></tr>
        <tr><td colspan="2"><h4 class="text-center">Current Situation</h4></tr>
        <tr><td colspan="2" id="blockchain-loader" class="text-center">-- Updating Automatically From The Blockchain Every 30 Seconds --</tr>
        <tr><td colspan="2" id="countdown" class="text-center"><progress value="0" max="30" id="progressBar"></progress></tr>
        <tr><td>Difficulty:</td><td id="difficulty"></td></tr>
        <tr><td>Minted:</td><td id="kiwiMinted">~</td></tr>
        <tr><td>Current Challenge:</td><td id="challengeNumber">~</td></tr>
        <tr><td>Current Reward Era:</td><td id="currentRewardEra">~</td></tr>
        <tr><td>Epoch Count:</td><td id="epochCount">~</td></tr>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-cta">
          <div class="panel-body-small">
              <div class="col-lg-12">
                  <p class="text-center"><strong>Your Wallet Info</strong></p>
                    <dl>
                      <dt>Account:</dt><dd id="coinbaseAccount">...</dd>
                      <dt>Balance:</dt><dd id="kiwiCount">...</dd>
                    </dl>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-cta">
          <div class="panel-body-small">
              <div class="col-lg-12">
                <p class="text-center"><strong>Send KIWI</strong></p><br />
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="transferAmount" class="col-sm-3 control-label">KIWI</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="transferAmount" placeholder="KIWI">
                    </div>
                  </div>
                  <div id="transferAddressGroup" class="form-group">
                    <label for="transferAddress" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="transferAddress" placeholder="Address">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary" id="send-kiwi-button">Send KIWI</button>
                    </div>
                  </div>
                  <em>When you have completed transfer, please monitor on Etherscan.</em>
                </form>
              </div>
          </div>
      </div>
    </div>





</div> <!-- / section -->
