<div class="row section recentnews topspace">
  <h2 class="section-title"><span>Latest News</span></h2>
  <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <ul>
          <li><b>Friday 22nd June:</b> kiwi.woolfpool.io started - pool mining.</li>
          <li><b>Sunday 10th June:</b> Difficulty reached a point where CPU mining is not really viable.</li>
          <li><b>Sunday 13th May:</b> Website launched.</li>
          <li><b>Wednesday 9th May:</b> The first sale of a KIWI token took place on ForkDelta.</li>
          <li><b>Sunday 6th May:</b> The KIWI is officially deployed on the mainnet.</li>
        </ul>
      </div>
    </div>


</div> <!-- /section -->
