<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
          One of the first mineable ERC-20 / ERC-918 tokens ever available. The <b>KIWI</b> is a utility token that will
          be used to power a number of innovative products, services and tools being developed by
          <a href="http://liberation.online" target="_blank">Liberation Online</a> amd many others in the near future.
        </p>
        <p class="lead text-center text-muted">
          We expect these innovations to significantly change the way businesses and individuals operate by utilising the
          blockchain at its core.
        </p>
    </div>
</div> <!-- / section -->
